<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TrackMe</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expanded-nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="expanded-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Devices</a>
            <a class="nav-item nav-link" href="/register-device">Register Device</a>
            <a class="nav-item nav-link" href="/send-command">Send Command</a>
            <a class="nav-item nav-link" href="/about">About Me</a>
        </div>
    </div>

    <div id='auth-nav' class='navbar-nav'></div>
</nav>

<script>
    const isAuthenticated = localStorage.getItem('user');
    const logoutElement = `<a class="nav-item nav-link" onClick = "logout()"><b>${isAuthenticated}</b> (Logout)</a > `;
    const loginElement = '<a class="nav-item nav-link" href = "/login" > Login</a > ';
    if (isAuthenticated != undefined) {
        $('#auth-nav').append(logoutElement);
    } else {
        $('#auth-nav').append(loginElement);
    }
</script>